
.centered {
	margin-right: auto;
	margin-left: auto;
	align: center;
	text-align: center;
	vertical-align: middle;
}

.form-colorpicker-text {
	vertical-align: top;
}

.form-image-container img {
	width:  50%;
	height: auto;
}

.form-select-text {
	padding-bottom: 0.25em;
}

.form-title {
	font-size: 16px;
}
/*  I can't seem to get this to work.  CSS expert, anyone?
input[type="radio"].radio-multiple-list-no:checked::before {
	border-color: red;
	color: red;
}

input[type="radio"].radio-multiple-list-yes:checked::before {
	border-color: green;
	color: green;
} //*/

.red {
  color: red;
}

.social-option-icon .wp-color-result {
	margin: 0 0 0 1em;
}

.tcc_text_3em  input[type="text"]  { width: 3em;  }

tr {
	transition: all 0.3s ease-in-out 0.5s;
}
