
.centered {
	margin-right: auto;
	margin-left: auto;
	align: center;
	text-align: center;
	vertical-align: middle;
}

.form-colorpicker-text {
	vertical-align: top;
}

.form-image-container img {
	width:  50%;
	height: auto;
}

.form-select-text {
	padding-bottom: 0.25em;
}

.form-title {
	font-size: 16px;
}

input[type="radio"].radio-multiple-list-no {
	border-color: red;
	color: red;
}

input[type="radio"].radio-multiple-list-no:checked::before {
	background-color: red;
}

input[type="radio"].radio-multiple-list-yes {
	border-color: green;
	color: green;
}

input[type="radio"].radio-multiple-list-yes:checked::before {
	background-color: green;
}

.pmw-plugin-active { color: green; }
.pmw-plugin-inactive { color: firebrick; }

.red   {
	color: red;
}

.tcc_text_3em  input[type="text"]  { width: 3em;  }

tr {
	transition: all 0.3s ease-in-out 0.5s;
}
